.title-diSanti {
    font-size: 3em;
    color: #444349;
    letter-spacing: 0.5px;
}

.title-diSanti {
    font-family: 'Playfair Display SC', serif;
    display: flex;
    justify-content: center;
}

.subtitle-diSanti {
    font-size: 1em;
    /* color:#A9A6A6 ; */
    letter-spacing: 3px;
    /* font-family: 'Playfair Display SC', serif; */
    display: flex;
    justify-content: center;
}