*{
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}

.subtitle{
    text-align: center;
    margin-bottom: 5rem;
    font-size: 4rem;
}

h2:hover{
    color: #dff9fb;
}

.all-products{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: wrap;
}

.products {
    overflow: hidden;
    background: #ffffff;
    color: #21201e;
    text-align: center;
    width: 240px;
    height: 340px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}
