@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
.category-box {
    display: flex;
    flex-direction: column;
    width: 200px;
    list-style: none;
    color: #C1AE9C;
    background-color: brown;
    
}
.category-box li{
    list-style: none;
}

.products {
   display: flex;
   justify-content: center;
   font-size: 3em;
    color: #444349;
    background-color: brown;
       
}
.category {
    font-family: "poppins", sans-serif;
    color: black;
    margin-left: 40px;
}
.group-li li{
    margin-bottom: 5px;
}
