@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.category {
    font-family: "poppins", sans-serif;
    color: black;
    margin-left: 40px;
}
.category-box {
    display: flex;
    flex-direction: column;
    width: 200px;
    color: #C1AE9C;
    background-color: rgb(205, 19, 19);
    margin-top: 200px;
}
.category-box li{
    list-style: none;
    margin-bottom: 5px;
}

.products {
   display: flex;
   justify-content: center;
   font-size: 3em;
    color: #444349;
    /* background-color: brown;      */
}

/* Puedes agregar esto a tu hoja de estilos o en una hoja aparte */

.navbar-link {
    transition: color 3s; /* Transición de color en 3 segundos */
    color: #000; /* Color inicial */
    text-decoration: none; /* Quitar subrayado de enlace */
  }
  
  .navbar-link:hover {
    color: #ffffff; /* Color al hacer hover */
  }
  
